<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>

<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:d.kovachev@gmail.com">E-mail</a></li>
   <li><a href="https://github.com/lowvoltage">GitHub</a></li>
   <li><a href="https://lowvoltage.wordpress.com/">Wordpress</a></li>
   </ul>
  </footer>
  </body>

</html>
